<!-- Assignment 3, Natalia Solar -->
@model BookStore.Models.PurchaseEvent

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>PurchaseEvent</h4>
    <hr />
    <dl class="column">
        Shopper: @Model.Shopper.LastName, @Model.Shopper.FirstName
        <br />
        Date of Purchase: @Model.PurchaseDate
        <br />
        <!--Purchased book: Model.PurchasedBook -->
        <!--<div>
        Books Purchased:
        foreach (Book book in Model.PurchasedBooks)
        {
            <ul>book.BookName (by book.AuthorName)</ul>
        }
    </div>-->


    </dl>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
